body {
    background-color: #292B2F;
}

header {
    background-color: #3264FF;
    width: device-width;
    height: 700px;
    position: relative; 
    top: -20px;
}

* {
    font-family: 'Poppins', sans-serif;
    color: white;
  }

.icon {
    margin:20px;
}

.icon:hover {
    box-shadow: 0 5px 5px 0 #0e0e0f;
    transition: 0.3s;
}

.titulo {
    color: #3264FF;
    font-size: 350%;
}

.comentario {
    background-color: white;
    display: inline-block;
    width: 440px;
    padding: 18px;
    border-radius: 10px;
    margin: 20px;
}

.comentario:hover {
    box-shadow: 0 5px 10px 0 #292B2F;
    transition: 0.3s;
}

.nome {
    color:#3264FF;
    text-align: left;
}

.texto {
    color: black;
    text-align: left;
}

.botao {
    align-items: center;
    text-align: center;
    background-color: #292B2F;
    border: none;
    font-size: 150%;
    border-radius: 10px;
    cursor: pointer
}

.botao:hover {
    box-shadow: 0 5px 5px 0 #0e0e0f;
    transition: 0.3s;
}